<h3>
	Текущий баланс : {{getTotal()}}
</h3>
<a href="javascript:;" class="btn btn-success kt-margin-r-10" (click)="openDialog('1')" mat-raised-button matTooltip="Пополнить баланс">
	<i class="la la-save"></i>
	<span class="kt-hidden-mobile">Пополнить</span>
</a>
<a href="javascript:;" class="btn btn-warning kt-margin-r-10" (click)="openDialog('0')" mat-raised-button matTooltip="Списать с баланса">
	<i class="la la-save"></i>
	<span class="kt-hidden-mobile">Списать</span>
</a>
<div class="kt-portlet__body kt-portlet__body--fit">
	<div class="my_datatable" id="driver_balance"></div>
</div>
