<div class="row">
	<div class="col-lg-6">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Настройки доступа для api
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
			</div>
			<div class="kt-portlet__foot">
				<div class="kt-form__actions">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-10">
							<button type="button" (click)="onSubmit()" class="btn btn-success">Редактировать</button>
							<!--<button type="reset" class="btn btn-secondary">Cancel</button>-->
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-lg-6">
		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Тест API
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<button type="button" (click)="fillCallsAndContactsZadarma()" class="btn btn-secondary">1. Выгрузить список контактов и вызовов из ZADARMA(за этот месяц)</button>
				<button type="button" (click)="fillContactsRoistat()" class="btn btn-secondary">2. Заполнить данные контактов из ROISTAT</button>
				<div class="kt-section">
                    <span class="kt-section__info">
						Результат:
					</span>
					<div class="kt-section__content kt-section__content--solid">
						<div  style="white-space: pre-line;">
							{{message}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #formTemplate>
	<div [formGroup]="form">
		<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
			<ng-container *ngIf="isFieldVisible(control.permission)">
				<div *ngIf="control['type'] == 'text' || control['type'] == 'password'  || control['type'] == 'email'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select  formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option value="">-- Выберите --</option>
							<option *ngFor="let option of control.options" [value]="option.value">{{option.label}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage('role')}}</div>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</div>
</ng-template>

