<div class="kt-grid kt-grid--ver kt-grid--root height100">
	<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(./assets/media//bg/bg-1.jpg);background-size: cover;">
			<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
				<div class="kt-login__container">
					<div class="kt-login__logo">
						<a href="#">
							<img src="./assets/media/logos/logo-mini-2-md.png">
						</a>
					</div>
					<div class="kt-login__signin">
						<div class="kt-login__head">
							<h3 class="kt-login__title">Авторизация</h3>
						</div>
						<form class="kt-form" [formGroup]="loginForm">

							<div class="input-group">
								<input class="form-control" type="text" formControlName="username" autocomplete="off">
							</div>
							<div class="input-group">
								<input class="form-control" type="password" formControlName="password">
							</div>
							<div class="row kt-login__extra">
								<div *ngIf="error_message" style="margin:0 auto;" class="kt-alert kt-alert--outline alert alert-danger alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
									<span>{{error_message}}</span>
								</div>
							</div>
							<div class="kt-login__actions">
								<button (click)="submit()" [disabled]="loading" id="kt_login_signin_submit" class="btn btn-pill kt-login__btn-primary">Вход</button>
							</div>
						</form>
					</div>
					<!--<div class="kt-login__signup">-->
						<!--<div class="kt-login__head">-->
							<!--<h3 class="kt-login__title">Sign Up</h3>-->
							<!--<div class="kt-login__desc">Enter your details to create your account:</div>-->
						<!--</div>-->
						<!--<form class="kt-login__form kt-form" action="">-->
							<!--<div class="input-group">-->
								<!--<input class="form-control" type="text" placeholder="Fullname" name="fullname">-->
							<!--</div>-->
							<!--<div class="input-group">-->
								<!--<input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">-->
							<!--</div>-->
							<!--<div class="input-group">-->
								<!--<input class="form-control" type="password" placeholder="Password" name="password">-->
							<!--</div>-->
							<!--<div class="input-group">-->
								<!--<input class="form-control" type="password" placeholder="Confirm Password" name="rpassword">-->
							<!--</div>-->
							<!--<div class="row kt-login__extra">-->
								<!--<div class="col kt-align-left">-->
									<!--<label class="kt-checkbox">-->
										<!--<input type="checkbox" name="agree">I Agree the <a href="#" class="kt-link kt-login__link kt-font-bold">terms and conditions</a>.-->
										<!--<span></span>-->
									<!--</label>-->
									<!--<span class="form-text text-muted"></span>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="kt-login__actions">-->
								<!--<button id="kt_login_signup_submit" class="btn btn-pill kt-login__btn-primary">Sign Up</button>&nbsp;&nbsp;-->
								<!--<button id="kt_login_signup_cancel" class="btn btn-pill kt-login__btn-secondary">Cancel</button>-->
							<!--</div>-->
						<!--</form>-->
					<!--</div>-->
					<!--<div class="kt-login__forgot">-->
						<!--<div class="kt-login__head">-->
							<!--<h3 class="kt-login__title">Forgotten Password ?</h3>-->
							<!--<div class="kt-login__desc">Enter your email to reset your password:</div>-->
						<!--</div>-->
						<!--<form class="kt-form" action="">-->
							<!--<div class="input-group">-->
								<!--<input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">-->
							<!--</div>-->
							<!--<div class="kt-login__actions">-->
								<!--<button id="kt_login_forgot_submit" class="btn btn-pill kt-login__btn-primary">Request</button>&nbsp;&nbsp;-->
								<!--<button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Cancel</button>-->
							<!--</div>-->
						<!--</form>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</div>
</div>
