<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools >
			<div>
				<a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Назад к списку">
					<i class="la la-arrow-left"></i>
					<span class="kt-hidden-mobile">Назад</span>
				</a>
				<a *ngIf="selectedTab === 0" href="javascript:;" class="btn btn-success kt-margin-r-10" (click)="onSubmit(1)" mat-raised-button matTooltip="Сохранить и продолжить">
					<i class="la la-save"></i>
					<span class="kt-hidden-mobile">Сохранить</span>
				</a>
				<a *ngIf="selectedTab === 0" href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Отменить изменения">
					<i class="la la-cog"></i>
					<span class="kt-hidden-mobile">Сбросить</span>
				</a>
			</div>
		</ng-container>
	</kt-portlet-header>
	<br>
	<!--begin::Form-->
	<kt-portlet-body>

		<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event)">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Базовая информация
				</ng-template>
				<ng-template matTabContent>
					<div class="col-lg-8 mx-auto ng-star-inserted">
						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
						Ошибка! Форма не прошла валидацию.
						</kt-alert>
						<div class="kt-portlet__body">
						<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
						</div>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab [disabled]="!modelForm.controls['id'].value">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Баланс водителя
				</ng-template>
				<ng-template matTabContent>
					<div class="col-lg-8 mx-auto ng-star-inserted">
						<div class="kt-portlet__body">
							<kt-driver-balance [data]="balanceData"></kt-driver-balance>
						</div>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>

<ng-template #formTemplate>
	<form  autocomplete="nope" class="kt-form kt-form--label-right" [formGroup]="modelForm" >
		<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
			<ng-container *ngIf="config.orientation == 'horizontal' && isFieldVisible(control.permission)">
				<div *ngIf="control['type'] == 'text' || control['type'] == 'password'  || control['type'] == 'email'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input autocomplete='!off'  [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select autocomplete=none  formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option *ngIf="control.nullValue" [value]="undefined">-- Выберите --</option>
							<option *ngFor="let option of control.options" [value]="option.id">{{option.label}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select2'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select autocomplete=none
								multiple="multiple" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option *ngIf="control.nullValue" [value]="undefined">-- Выберите --</option>
							<option *ngFor="let option of control.options" [value]="option.getParam('id')">{{option.getLabel()}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="config.orientation == 'vertical'"></ng-container>
		</ng-container>
	</form>
</ng-template>
