<div class="kt-portlet">
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Назад к списку">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Назад</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(true)" mat-raised-button matTooltip="Сохранить и продолжить">
				<span class="kt-hidden-mobile">Сохранить</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Отменить изменения">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Сбросить</span>
			</a>
		</ng-container>
	</kt-portlet-header>
	<br>
	<!--begin::Form-->
	<kt-portlet-body>
		<form class="kt-form kt-form--label-right" [formGroup]="modelForm" >
			<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event)">
				<mat-tab ngClass="{'mat-tab-error' : hasFormErrors}">
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						Базовая информация
					</ng-template>
					<ng-template matTabContent>
						<div class="col-lg-8 mx-auto ng-star-inserted">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000">
								Ошибка! Форма не прошла валидацию.
							</kt-alert>
							<div class="kt-portlet__body">
								<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
									<ng-container *ngIf="config.orientation == 'horizontal' && isFieldVisible(control.permission)">
										<div *ngIf="control['type'] == 'text'
		|| control['type'] == 'datetime'
		|| control['type'] == 'datetime-local'
		|| control['type'] == 'password'
		|| control['type'] == 'email'" class="form-group row validated">
											<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
											<div class="col-lg-10">
												<input autocomplete="off" [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
												<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
											</div>
										</div>
										<div *ngIf="control['type'] == 'select'" class="form-group row validated">
											<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
											<div class="col-lg-10">
												<select autocomplete="off" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
													<option *ngIf="control.nullValue" [value]="null">-- Выберите --</option>
													<option *ngFor="let option of control.options" [value]="option.value">{{option.label}}</option>
												</select>
												<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
											</div>
										</div>
										<div *ngIf="control['type'] == 'textarea'" class="form-group row validated">
											<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
											<div class="col-lg-10">
												<textarea autocomplete="off" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field"></textarea>
												<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
											</div>
										</div>
									</ng-container>
									<ng-container *ngIf="config.orientation == 'vertical'"></ng-container>
								</ng-container>
							</div>
						</div>
					</ng-template>
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						Пункты назначения
					</ng-template>
					<ng-template matTabContent>
						<ng-container>
							<br>
							<div class="col-lg-8 mx-auto ng-star-inserted">

								<div class="form-group  m-form__group row"
									 formArrayName="destination"
									 *ngFor="let item of modelForm.controls['destination']['controls']; let i = index;">
									<ng-container
									>
										<ng-container
											[formGroupName]="i"
										>

											<label class="col-lg-2 col-form-label">
												Пункт назначения {{i+1}}
											</label>
											<div class="col-lg-8">
												<input class="form-control" min="1" placeholder="Адрес" formControlName="value"
													   data-id="test">
											</div>
											<div class="col-lg-2">
												<a href="javascrtipt:;"
												   (click)="removeItem('destination', item[i])"
												   class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
													<i class="la la-remove"></i>
												</a>
											</div>
										</ng-container>
									</ng-container>
								</div>
								<div class="row">
									<div class="col-lg-3"></div>
									<div class="col">
										<div
											(click)="addItem('destination')"
											class="btn btn btn-primary m-btn m-btn--icon">
									<span>
										<i class="la la-plus"></i>
										<span>
											Добавить пункт
										</span>
									</span>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
					</ng-template>
				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>
						<i class="mat-tab-label-icon fa fa-user"></i>
						Детские кресла
					</ng-template>
					<ng-template matTabContent>
						<ng-container>
							<br>
							<div class="form-group form-group-last row" id="kt_repeater_1">

								<label class="col-lg-2 col-form-label">
									Сиденья
								</label>

								<div class="col-lg-10">
									<div class="form-group row align-items-center"
										 formArrayName="seat"
										 *ngFor="let item of modelForm.controls['seat']['controls']; let i = index;">
										<ng-container
										>
											<ng-container
												[formGroupName]="i"
											>
												<div class="col-lg-4">
													<div class="kt-form__group--inline">
														<div class="kt-form__label">
															<label>Возраст:</label>
														</div>
														<div class="kt-form__control">
															<input class="form-control" min="1" placeholder="Возраст" formControlName="age"
																   data-id="test">
														</div>
													</div>
												</div>

												<div class="col-lg-4">
													<div class="kt-form__group--inline">
														<div class="kt-form__label">
															<label>Вес:</label>
														</div>
														<div class="kt-form__control">
															<input class="form-control" min="1" placeholder="Вес" formControlName="weight"
																   data-id="test">
														</div>
													</div>
												</div>
												<div class="col-lg-4">
													<a href="javascrtipt:;"
													   (click)="removeItem('seat', item[i])"
													   class="btn-sm btn btn-label-danger btn-bold">
														<i class="la la-trash-o"></i>
														Удалить
													</a>
												</div>
											</ng-container>
										</ng-container>
									</div>
								</div>
							</div>

							<div class="form-group form-group-last row">
								<label class="col-lg-2 col-form-label"></label>
								<div class="col-lg-4">
									<a href="javascript:;"  (click)="addItem('seat')" data-repeater-create="" class="btn btn-bold btn-sm btn-label-brand">
										<i class="la la-plus"></i> Добавить
									</a>
								</div>
							</div>

						</ng-container>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</form>
	</kt-portlet-body>
</div>
