<div class="kt-portlet">
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Назад к списку">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Назад</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)" mat-raised-button matTooltip="Сохранить и продолжить">
				<span class="kt-hidden-mobile">Сохранить</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" mat-raised-button matTooltip="Отменить изменения">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Сбросить</span>
			</a>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSubmit(true)">Сохранить & Выйти</button>
				<!--<button mat-menu-item color="primary">Save & Duplicate</button>-->
				<button mat-menu-item color="primary" (click)="onSubmit(false)">Сохранить & Продолжить</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<br>
	<!--begin::Form-->
	<kt-portlet-body>
		<div class="col-lg-8 mx-auto ng-star-inserted">
			<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
				Ошибка! Форма не прошла валидацию.
			</kt-alert>
			<div class="kt-portlet__body">
				<ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
			</div>
		</div>
	</kt-portlet-body>
</div>

<ng-template #formTemplate>
	<form class="kt-form kt-form--label-right" [formGroup]="modelForm" >
		<ng-container *ngFor="let control of formConfig(); trackBy:trackByFn">
			<ng-container *ngIf="config.orientation == 'horizontal' && isFieldVisible(control.permission)">
				<div *ngIf="control['type'] == 'text' || control['type'] == 'password'  || control['type'] == 'email'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<input [type]="control['type']" formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field">
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
				<div *ngIf="control['type'] == 'select'" class="form-group row validated">
					<label class="col-form-label col-lg-2" [for]="control.field">{{control.label}}</label>
					<div class="col-lg-10">
						<select  formControlName="{{control.field}}" [ngClass]="hasError(control.field)" [id]="control.field" class="form-control">
							<option *ngIf="control.nullValue" value="">-- Выберите --</option>
							<option *ngFor="let option of control.options" [value]="option.value">{{option.label}}</option>
						</select>
						<div class="invalid-feedback">{{getErrorMessage(control.field)}}</div>
					</div>
				</div>
			</ng-container>
			<ng-container *ngIf="config.orientation == 'vertical'"></ng-container>
		</ng-container>
	</form>
</ng-template>
